<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pureeats.restaurant">
    <!-- DATA available Or Not -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<!--    <uses-permission android:name="android.permission.RECEIVE_SMS" />-->
<!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
<!--    <uses-permission android:name="android.permission.READ_SMS" />-->
<!--    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />-->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- EndLessService -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.pureeats.restaurant.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.pureeats.restaurant.views.OfflineActivity"></activity>
        <activity android:name="com.pureeats.restaurant.views.location.LocationActivity" /> <!-- <activity -->
        <!-- android:name=".views.order.AcceptOrderActivity" -->
        <!-- android:launchMode="singleTop" -->
        <!-- android:parentActivityName=".views.MainActivity"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.example.mainactivity.views.MainActivity" /> -->
        <!-- </activity> -->
        <activity
            android:name="com.pureeats.restaurant.views.order.AcceptOrderActivityDialog"
            android:launchMode="singleTop"
            android:parentActivityName="com.pureeats.restaurant.views.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pureeats.restaurant.views.MainActivity" />
        </activity>
        <activity android:name="com.pureeats.restaurant.views.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pureeats.restaurant.views.auth.AuthActivity" />
        <activity android:name="com.pureeats.restaurant.views.menuitem.MenuActivity" />
        <activity android:name="com.pureeats.restaurant.views.MoreActivity" />
        <activity android:name="com.pureeats.restaurant.views.MainActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCt_14My2CYghVw6eZFSYFlFPBOK29lkww" /> <!-- <service android:name=".firebase.MessagingService"> -->

        <!-- <service -->
        <!-- android:name=".services.NewOrderFetchService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false" -->
        <!-- android:stopWithTask="false" /> -->
        <!-- <service -->
        <!-- android:name=".services.EndlessService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false"> -->
        <!-- </service> -->

        <service
            android:name=".firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.pureeats.restaurant.services.FetchOrderService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync"/>

        <receiver
            android:name="com.pureeats.restaurant.receivers.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <receiver
            android:name="com.pureeats.restaurant.receivers.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

    </application>

</manifest>